##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이루어진 2차원 리스트이다.

In [10]:
import pandas as pd
# 1.시리즈 결합해서 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

younghee = pd.Series([143, 150, 157, 160], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': younghee,
    '철수': cheolsu
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [4]:
# 2차원 리스트 데이터로 프레임 만들기
import pandas as pd

data = [[143, 165], [150, 172], [157, 175], [160, 180]]
index = ["2018", "2019", "2020", "2021"]

growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [66]:
import pandas as pd
# 1.시리즈 결합해서 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180],
}

growth = pd.DataFrame(data, index=index)
# growth.to_csv('./datas/growth.csv')

# csv 파일 읽기 - to_read_csv(경로)
# growth = pd.read_csv('./datas/growth.csv', index_col = 0)
# print(growth)
# print(growth.columns) # 칼럼
# print(growth.values)  # 값

# 열 선택
# print(growth['철수'])

# 열 이름 출력 
# print(growth[['철수']])
# print(growth[['영희', '철수']])

# 행 선택
# Loc[행(문자)], iloc[인덱스(숫자)]
# print(growth.loc['2020'])
# print(growth.iloc[2])

# 다중 행 선택
# print(growth.loc[['2020', '2021']])
# print(growth.iloc[[2, 3]])
# print(growth.iloc[2:4])

# 열 추가 - 시현
growth["시현"] = [103, 166, 266, 105]
# print(growth)

# 행 추가 2022년
growth.loc['2022'] = [162, 181, 172]
# print(growth)


# 행 삭제 - 2020년
# 복사 - 원본 유지 (깊은 복사 - 원본과 별도로 삭제, 수정) - copy()
growth2 = growth.copy()
growth2 = growth.drop('2020', axis=0) #행 삭제
print(growth2)

# 열 삭제 - '철수' 삭제
growth3 = growth.copy()
growth3 = growth3.drop('철수', axis=1)
print(growth3)

       영희   철수   시현
2018  143  165  103
2019  150  172  166
2021  160  180  105
2022  162  181  172
       영희   시현
2018  143  103
2019  150  166
2020  157  266
2021  160  105
2022  162  172

In [80]:
# 얕은 목사와 깊은 복사
# 얕은 복사 - 복사본을 수정하면 원본도 수정된다.
# 깊은 복사 - 복사본을 수정해도 원본은 유지된다. copy()
a = [1, 2, 3, 4]
a
b = a # a리스트에 b에 저장함
b
b[1] = 10
print(a, b)

# 깊은 복사 
c = [1, 2, 3, 4]
c
d = c.copy()
d
d[1] = 10
print(c, d)

[1, 10, 3, 4] [1, 10, 3, 4]
[1, 2, 3, 4] [1, 10, 3, 4]

In [12]:
import pandas as pd

score = {
    '국어' : [90, 80],
    '수학' : [98, 89],
    '영어' : [85, 95]
}

df = pd.DataFrame(score, index=['재천', '선영'])


print(df['국어'])
print(df[['수학', '영어']])

재천    90
선영    80
Name: 국어, dtype: int64
    수학  영어
재천  98  85
선영  89  95

In [98]:
score = {
    '이름' : ['재천', '선영', '일성'],
    '국어' : [90,80,70],
    '수학' : [80,75,95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score)
print(df)

# 새로운 행 추가 
df.loc[3] = ['윤아', 75, 80, 90]
print(df)

# 열추가
df['음악'] = 80
print(df)
df['미술'] = [80,90,100,70]
print(df)

   이름  국어  수학   영어
0  재천  90  80   85
1  선영  80  75   95
2  일성  70  95  100
   이름  국어  수학   영어
0  재천  90  80   85
1  선영  80  75   95
2  일성  70  95  100
3  윤아  75  80   90
   이름  국어  수학   영어  음악
0  재천  90  80   85  80
1  선영  80  75   95  80
2  일성  70  95  100  80
3  윤아  75  80   90  80
   이름  국어  수학   영어  음악   미술
0  재천  90  80   85  80   80
1  선영  80  75   95  80   90
2  일성  70  95  100  80  100
3  윤아  75  80   90  80   70

In [126]:
import pandas as pd
data = {
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180],
}

growth = pd.DataFrame(data, index=index)
print(growth)

# 특정 요소 1개 선택
# Loc[행(문자), 열(문자)], iloc[행(숫자), 열(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2, 1])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
175
175

In [146]:
# 실습2 데이터 프레임 만들기
import pandas as pd

score = {
    '국어' : [90, 80, 70],
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

subject = pd.DataFrame(score, index=['재천', '선영', '일성'])
print(subject)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100

In [186]:
# 실습2 데이터 프레임 만들기
import pandas as pd

score = {
    '국어' : [90, 80, 70],
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

subject = pd.DataFrame(score, index=['재천', '선영', '일성'])
print(subject)

# 행 추가 - 2022년

subject.loc['윤아'] = [75, 80, 90]
print(subject)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100
    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100
윤아  75  80   90

In [89]:
import pandas as pd

# 인덱스를 칼럼이름으로 설정하기 
data = {
    '연도' : ["2018", "2019", "2020", "2021"],
    '영희' : [143, 150, 157, 160],
    '철수' : [165, 172, 175, 180],
}

growth = pd.DataFrame(data)
growth = growth.set_index('연도')
print(growth)

       영희   철수
연도
2018  143  165
2019  150  172
2020  157  175
2021  160  180